.seccion
{
    padding: 15px;
    text-align: center;
}

.carta
{
    display: inline-block;
    width: 300px;
    margin: 5px;
    padding: 5px;
    border: 1px solid #d8d7d7;
    border-radius: 10px;
    text-align: center;
}

.carta img
{
    display: inline-block;
    width: 100%;
    border-radius: 5px;
}

.carta a
{
    text-decoration: none;
    color: rgb(77, 65, 27);
}

#perfil h2
{
    display: block;
    margin: 20px;
}


.informacionperfil,.fotoperfil{
    display: inline-block;
    width: 45%;
}

.fotoperfil img
{
    width: 90%;
}

.informacionperfil
{
    vertical-align: top;
}

.informacionperfil table
{
    margin: 10px auto;
}

.informacionperfil table td
{
    height: 50px;
    width: 200px;
    text-align: left;
}

#metodos
{
    text-align: center;
}

.tabla
{
    display: inline-block;
    border-collapse: collapse;
    margin-top: 10px;
}

.tabla thead
{
    background-color: #d8af29;
}

.tabla thead th
{
    padding: 10px;
}

.tabla tbody td
{
    padding: 10px;
}

.imagen_producto, .datos_producto
{
    display: inline-block;
}

.imagen_producto
{
    width: 70%;
    border-right: 1px solid #d8d7d7;
    padding-right: 5px;
}

.imagen_producto img
{
    width: 100%;
}
.datos_producto
{
    width: 25%;
    vertical-align: top;
}

#datosProducto
{
    display: inline-block;
    width: 95%;
    color:#505050;
    margin-top: 30px;
}

#datosProducto td
{
    width: 50%;
    text-align: left;
    padding-bottom: 30px;
}

.boton_gris
{
    padding: 15px 25px;
    background-color: #9c9c9c;
    text-decoration: none;
    color: #FFFFFF;
    border-radius: 5px;
}

.boton_gris:hover
{
    background-color: #b9b9b9;
}